{% load static %}
{% static 'images' as urlimage %}



<!DOCTYPE html>
<html lang="en">
<head>
	<title>Submit Document</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->

</head>
<body>
	
	<div class="container-contact100">
		
		<div class="wrap-contact100">
			
			<div class="contact100-form-title" style="background-image: url({% static 'images/bg-01.jpg'%});">
				<span class="contact100-form-title-1">
										Manufacturing  {{doc_no}} 
				</span>

				<span class="contact100-form-title-2">
					Update your document
				</span>
			</div>
			{% for Message in messages %}
			
			

			<center> <h3 style=color:red> {{ Message }}</h3> </center>
			
            {% endfor %}
            
			{% for mat in Material %}
			
			{% if mat.doc_no == doc_no %}
			
			<form class="contact100-form validate-form" action="man_update_submit" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    
                <div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Document No: </span>
					<input class="input100" type="text" name="doc_no" value={{doc_no}} readonly>
					<span class="focus-input100"></span>
                </div>
				<div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Department:  </span>
					<select class="input100"  name="department" placeholder={{mat.department}}>
						<option value="{{mat.department}}">{{mat.department}}</option>
 						 <option value="CNC">CNC</option>
  							<option value="LINE ASSY">LINE ASSY</option>
  						<option value="UPRIGHT">UPRIGHT</option>
  						<option value="BENDI FAB">BENDI FAB</option>
                          <option value="WAREHOUSE ASSEMBLY">WAREHOUSE ASSEMBLY</option>
                          
					</select>				
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Category:</span>
					<select class="input100"  name="category" placeholder="Enter phone number">
						<option value="{{mat.category}}">{{mat.category}}</option>
 						 <option value="CNC">CNC</option>
  							<option value="LINE ASSY">LINE ASSY</option>
  						<option value="UPRIGHT">UPRIGHT</option>
  						<option value="BENDI FAB">BENDI FAB</option>
  						<option value="WAREHOUSE ASSEMBLY">WAREHOUSE ASSEMBLY</option>
					</select>				
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Location:</span>
					<input class="input100" type="text" name="location" value="{{mat.location}}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Identified by:</span>
					<input class="input100" type="text" name="identified_by" value="{{mat.identified_by}}">
					<span class="focus-input100"></span>
				</div>


				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Warehouse item no:</span>
					<input class="input100" type="text" name="item_warehouse" value="{{mat.item_warehouse}}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Item code:</span>
					<input class="input100" type="text" name="item_code" value="{{mat.item_code}}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Quantity:</span>
					<input class="input100" type="text" name="quantity" value="{{mat.quantity}}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Unit:</span>
					<input class="input100" type="text" name="unit" value="{{mat.unit}}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Superviser Name:</span>
					<input class="input100" type="text" name="superviser_name" value="{{mat.superviser_name}}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Approved by:</span>
					<input class="input100" type="text" name="approved_by" value="{{mat.approved_by}}">
					<span class="focus-input100"></span>
				</div>

				
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Image:</span>
					<input type="file" name="man_img" alt="{{mat.man_img.url}}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<span class="label-input100">Reason:</span>
					<textarea class="input100" name="reason" >{{mat.reason}}</textarea>
					<span class="focus-input100"></span>
				</div>

				
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
            </form>
            {% endif %}
            {% endfor %}
            
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
	
	
<!--===============================================================================================-->
	<script src="{% static 'js/main.js'%}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->


</body>
</html>
